@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
}

:root{
    --primary-color: #131318;
    --secondary-color:#5A5A5D;
    --white-color:#FFF;
    --btn-color:#FF5400;
    --secondary-font-size:16px;
    --mobile-font-size:14px;
}



.btn-primary{
    color: var(--btn-color);
    font-size: var(--secondary-font-size);
    color: var(--white-color);
    background: var(--btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    padding: 16px 34px;
    display: inline-block;

}
.btn-primary:hover{
    background: #ef5000;
}



/* Start Heading Section */
header{
    padding: 0 134px;
    transition: .5s;
}
nav{
    height: 80px;
    width: 100%;
    margin-top: 25px;   
}
.logo img{
    padding-right: 15px;
    width: 100%;
    height: auto;
}
label.logo{
    display: inline-flex;
    color: var(--primary-color);
    line-height: 80px;
    font-size: 2.19rem;
    font-weight: 800;
    transition: .5s;
}

nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;   
}
nav ul li a{
    font-size: 1.13rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-left: 5px;
}
.travel{
    color: var(--btn-color);
    padding-left: 10px;
}

a.active,a:hover{
    color:var(--btn-color);
    transition: .4s;
}
.checkbtn{
    font-size: 30px;
    color: var(--btn-color);
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* End Heading Section */



main{
    max-width: 1440px;
    margin: 60px auto;
    width: 100%;
    padding: 0 135px;
    
}

/* Start Hero Section */

.hero-section{
    display: grid;
    grid-column: 2/ span 10;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 16px;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-position: center top;
    position: relative;
}
.hero-section h1{
    font-size: 4.82vw;
    font-weight: 800;
    color: var(--white-color);
    margin-bottom: 24px;
}
.hero-section p{
    font-size: var(--secondary-font-size);
    color: var(--white-color);
    line-height: 26px;
    padding: 0 10px;
    margin-bottom: 46px;
}

.find-travel{
    display: inline-block;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.find-travel input, select{
    font-size: var(--secondary-font-size);
    padding: 16px;
    border: none;
    outline: none;
    margin-right: 24px;
}
::placeholder {
    color: var(--secondary-color);
  }
  /* End Hero Section */






/* Strat popular-tour */
.popular-tour{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
}
.popular-tour-content{
    width: 100%;
    padding: 35px;
}
.popular-tour-content h3{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-tour-content p{
    margin-bottom: 24px;
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
}
.popular-tour-content > ul{
    margin-bottom: 24px;
}
.popular-tour-content > ul > li{
    list-style-type: disc;
    margin-left: 18px;
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
}

.popular-tour-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
/* End popular-tour */



.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    text-align: center;
    margin-top: 100px;
}

.grid h3{
    grid-column: span 12;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.grid p{
    grid-column: span 12;
    margin-bottom: 24px;
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    margin-top: 0;
}





/* Start grid-wrapper */
.img-one, .img-two, .img-three, .img-four, .img-five, .img-six, .img-seven > img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.grid-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.grid-wrapper{
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.img-one{
    grid-column: span 2;
    position: relative;
    color: var(--white-color);
}
.img-two{
    grid-column: span 2;
    position: relative;
    color: var(--white-color);
}
.img-three{
    grid-column: span 1;
    position: relative;
    color: var(--white-color);
}
.img-four{
    grid-column: span 2;
    position: relative;
    color: var(--white-color);
}
.img-five{
    grid-column: span 1;
    position: relative;
    color: var(--white-color);
}
.img-six{
    grid-column: span 1;
    position: relative;
    color: var(--white-color);
}
.img-seven{
    grid-column: span 3;
    position: relative;
    color: var(--white-color);
}
.align-text{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 800;
}
.grid-wrapper > div:hover{
    filter: opacity(0.8);
    transition: .2s;
    cursor: pointer;
}
/* Start grid-wrapper */







/*Start grid-wrapper-two */
.grid-wrapper-two{
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}
.grid-wrapper-two-card{
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 32px;
}
.grid-wrapper-two-card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.grid-wrapper-two h3{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
    margin: 8px auto;
}
.topic-1,.topic-2, .topic-3 p{
    color: var(--secondary-color);
    font-size: var(--secondary-font-size);
    padding-bottom: 25px;
}
.topic-1{
    grid-column: span 2;
}
.topic-2{
    grid-column: span 2;
}
.topic-3{
    grid-column: 2/ span 2;
}

/*End grid-wrapper-two */





/*Start grid-wrapper-three */
.grid-wrapper-three{
    display: grid;
    grid-gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: 200px;
    /* grid-auto-flow: dense; */
    margin-top: 100px;
    margin-bottom: 100px;
}
.grid-wrapper-three-content{
    grid-column: span 2;
    padding: 40px;
    height: 430px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.seventy-save-img{
    grid-column: span 2;
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 16px;
}

.grid-wrapper-three-content h3{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
    padding: 16px 0;
}
.grid-wrapper-three-content p{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}
.grid-wrapper-three-content > input{
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
    border: none;
    width: 100%;
    margin: 16px auto;
}
.grid-wrapper-three-content > .btn-primary{
    width: 100%;
    margin-bottom: 16px;
}
/* .seventy-save-content{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--btn-color);
    position: absolute;
    z-index: 1;
} 
.seventy-save-content p{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 4px;
    margin-top: 22px;
}
.seventy-save-content h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
} */







.grid-footer{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 135px 30px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 180px;
}
.grid-footer img{
    margin-top: 18px;
}
.grid-footer p{
    margin-top: 15px;
    margin-bottom: 33px;
}
.grid-footer img{
    margin-bottom: 50px;
}





@media screen and (max-width:600px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin-top: 50px;
    }
    label.logo{
        font-size: 1.50rem;
        font-weight: 600;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin : 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #FFF;
    }
    a:hover,a.active{
        background: none;
        color: var(--btn-color);
    }
    #check:checked ~ ul{
        left: 0;
        margin-top: 32px;
        z-index: 1;
    }
    header{
        padding: 0 30px;
        transition: .5s;
    }
    .find-travel{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 24px; 
    }
    .find-travel input, select{
        margin-right: 0;
    }
    main{

        padding: 0 20px;
    }
    .popular-tour{
        flex-direction: column;
    }
    .popular-tour-content h3{
        font-size: 30px;
    }
    .popular-tour-content p{
        font-size: var(--mobile-font-size);
    }
    .popular-tour-content > ul > li{
        list-style-type: disc;
        margin-left: 18px;
        font-size: var(--secondary-font-size);
        color: var(--secondary-color);
    }
    .grid h3{
        font-size: 20px;
        font-weight: 800;
    }
    .grid-wrapper{
        display: block;
    }
    .grid-wrapper > div{
        padding-top: 25px;
    }
    .topic-3{
        grid-column: span 2;
    }
    .grid-wrapper-three{
        display: block;
    }
    .grid-wrapper-three-content{
        margin-bottom: 40px;
    }
    .hero-section p{
        font-size: 14px;
    }
}








@media screen and (min-width:600px) and (max-width:992px)  {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin-top: 50px;
    }
    label.logo{
        font-size: 1.50rem;
        font-weight: 600;
    }
    nav ul li{
        display: block;
        margin : 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #FFF;
    }
    a:hover,a.active{
        background: none;
        color: var(--btn-color);
    }
    #check:checked ~ ul{
        left: 0;
        margin-top: 50px;
        z-index: 1;
    }
    header{
        padding: 0 60px;
        transition: .5s;
    }
    
    .find-travel{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 24px;
        
    }
    .find-travel input, select{
        margin-right: 0;
    }
    main{
        padding: 0 20px;
    }
    .popular-tour{
        flex-direction: column;
    }
    .popular-tour-content h3{
        font-size: 30px;
    }
    .popular-tour-content p{
        font-size: var(--mobile-font-size);
    }
    .popular-tour-content > ul > li{
        list-style-type: disc;
        margin-left: 18px;
        font-size: var(--secondary-font-size);
        color: var(--secondary-color);
    }
    .grid-wrapper{
        display: block;
    }
    .grid-wrapper > div{
        padding-top: 25px;
    }
    .topic-3{
        grid-column: span 2;
    }
    .grid-wrapper-three{
        display: block;
    }
    .grid-wrapper-three-content{
        margin-bottom: 40px;
    }
}



@media screen and (min-width:992px) and (max-width:1340px) {
    .topic-1{
        grid-column: 2/ span 2;
    }
    .grid-wrapper-three{
        display: block;
    }
    .grid-wrapper-three-content{
        margin-bottom: 40px;
    }
    .find-travel{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 24px; 
    }
    .find-travel input, select{
        margin-right: 0;
    }
}


